input {
  width: 400px;
  height: 40px;
  background: #fff;
  padding: 3px 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
}
